<%= form_with model: pet do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% pet.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :breed %><br>
    <%= form.text_area :breed %><br>
    <% pet.errors.full_messages_for(:breed).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :image_url %><br>
    <%= form.text_area :image_url %><br>
    <% pet.errors.full_messages_for(:image_url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
